<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>{{ name }}</title>
        <script src="{{ static('jquery-3.5.1.min.js') }}" type="text/javascript"></script>
        <link  href="{{ static('bootstrap-4.0.0/css/bootstrap.css') }}" type="text/css" rel="stylesheet">
        <style>
.btn {
    width:120px;
}
    </style>
    </head>
    <body>
        <div class="container-fluid">
            <input type="button" id="button_connect" class="btn btn-secondary btn-sm" value="Connect"/>
            <table class="table">
                <thead>
                    <tr>
                        <th>mmsi</th>
                        <th>time</th>
                        <th>lat</th>
                        <th>lon</th>
                        <th>distance</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="vessels">
                </tbody>
            </table>
        </div>
        <script type="text/javascript">
{% include 'list.js' %}
        </script>
    </body>
</html>
